# Import Statements and Initialisation

In [1]:
%run "..\Python Client Connector\Python Client Connnector V1".py
%load_ext autoreload
%autoreload
%matplotlib notebook
import pandas as pd
from functools import partial
#Create connector instance, with particular port for PUSH, PULL and SUB
connector = MTConnector(VERBOSE=False)

[INIT] Ready to send commands to METATRADER (PUSH): 32768
[INIT] Listening for responses from METATRADER (PULL): 32769
[INIT] Listening for market data from METATRADER (SUB): 32770

# Subscribing to Tick Data

In [2]:
connector.subscribeToSymbolTicks()
#connector.remoteReceive(connector.SUB_SOCKET)

[KERNEL] Subscribed to { BID/ASK updates. See self.MARKET_DATA_DB.

In [15]:
#connector.MARKET_DATA_DB['GBPUSD'].drop_duplicates(inplace=True)
test = connector.MARKET_DATA_DB['GBPUSD']
test

                         Bid      Ask  Last  Vol  Flag
2019.06.04 04:32:14  1.26626  1.26634   0.0  0.0     4
2019.06.04 04:32:15  1.26624  1.26631   0.0  0.0     2
2019.06.04 04:32:16  1.26621  1.26629   0.0  0.0     4
2019.06.04 04:32:45  1.26621  1.26628   0.0  0.0     4
2019.06.04 04:32:51  1.26620  1.26628   0.0  0.0     4
2019.06.04 04:32:54  1.26620  1.26627   0.0  0.0     4
2019.06.04 04:32:55  1.26620  1.26626   0.0  0.0     4
2019.06.04 04:33:02  1.26620  1.26628   0.0  0.0     2
2019.06.04 04:33:20  1.26621  1.26628   0.0  0.0     2
2019.06.04 04:33:26  1.26621  1.26627   0.0  0.0     2
2019.06.04 04:33:26  1.26620  1.26627   0.0  0.0     2
2019.06.04 04:33:30  1.26621  1.26626   0.0  0.0     2
2019.06.04 04:33:30  1.26620  1.26626   0.0  0.0     2
2019.06.04 04:33:30  1.26622  1.26628   0.0  0.0     2
2019.06.04 04:33:30  1.26622  1.26629   0.0  0.0     4
2019.06.04 04:33:30  1.26623  1.26629   0.0  0.0     2
2019.06.04 04:33:31  1.26622  1.26629   0.0  0.0     2
2019.06.04 04:33:48  1.26622  1.26627   0.0  0.0     4
2019.06.04 04:33:51  1.26623  1.26627   0.0  0.0     2
2019.06.04 04:33:51  1.26623  1.26628   0.0  0.0     4
2019.06.04 04:33:51  1.26623  1.26629   0.0  0.0     4
2019.06.04 04:33:58  1.26622  1.26628   0.0  0.0     4
2019.06.04 04:34:18  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:34:34  1.26624  1.26629   0.0  0.0     2
2019.06.04 04:34:34  1.26622  1.26630   0.0  0.0     4
2019.06.04 04:34:35  1.26621  1.26630   0.0  0.0     2
2019.06.04 04:34:42  1.26620  1.26629   0.0  0.0     2
2019.06.04 04:34:57  1.26619  1.26626   0.0  0.0     2
2019.06.04 04:34:58  1.26619  1.26627   0.0  0.0     4
2019.06.04 04:35:00  1.26619  1.26627   0.0  0.0     2
...                      ...      ...   ...  ...   ...
2019.06.04 04:37:18  1.26613  1.26621   0.0  0.0     2
2019.06.04 04:37:01  1.26622  1.26626   0.0  0.0     4
2019.06.04 04:37:03  1.26622  1.26627   0.0  0.0     4
2019.06.04 04:37:11  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:37:13  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019.06.04 04:37:18  1.26612  1.26619   0.0  0.0     2
2019.06.04 04:37:01  1.26622  1.26626   0.0  0.0     4
2019.06.04 04:37:03  1.26622  1.26627   0.0  0.0     4
2019.06.04 04:37:11  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:37:13  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019.06.04 04:37:18  1.26611  1.26619   0.0  0.0     2
2019.06.04 04:37:01  1.26622  1.26626   0.0  0.0     4
2019.06.04 04:37:03  1.26622  1.26627   0.0  0.0     4
2019.06.04 04:37:11  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:37:13  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019.06.04 04:37:18  1.26612  1.26619   0.0  0.0     2
2019.06.04 04:37:01  1.26622  1.26626   0.0  0.0     4
2019.06.04 04:37:03  1.26622  1.26627   0.0  0.0     4
2019.06.04 04:37:11  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:37:13  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019.06.04 04:37:18  1.26612  1.26620   0.0  0.0     4
2019.06.04 04:37:03  1.26622  1.26627   0.0  0.0     4
2019.06.04 04:37:11  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:37:13  1.26621  1.26629   0.0  0.0     2
2019.06.04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019.06.04 04:37:18  1.26612  1.26619   0.0  0.0     4

[260 rows x 5 columns]

In [26]:
test.index = pd.to_datetime(test.index,format="%Y.%m.%d %H:%M:%S")
test.drop_duplicates(inplace=True)
test = test.rename_axis('Time')
test = test.sort_values(by="Time")
test

                         Bid      Ask  Last  Vol  Flag
Time
2019-06-04 04:32:14  1.26626  1.26634   0.0  0.0     4
2019-06-04 04:32:15  1.26624  1.26631   0.0  0.0     2
2019-06-04 04:32:16  1.26621  1.26629   0.0  0.0     4
2019-06-04 04:32:45  1.26621  1.26628   0.0  0.0     4
2019-06-04 04:32:51  1.26620  1.26628   0.0  0.0     4
2019-06-04 04:32:54  1.26620  1.26627   0.0  0.0     4
2019-06-04 04:32:55  1.26620  1.26626   0.0  0.0     4
2019-06-04 04:33:02  1.26620  1.26628   0.0  0.0     2
2019-06-04 04:33:20  1.26621  1.26628   0.0  0.0     2
2019-06-04 04:33:26  1.26621  1.26627   0.0  0.0     2
2019-06-04 04:33:26  1.26620  1.26627   0.0  0.0     2
2019-06-04 04:33:30  1.26622  1.26628   0.0  0.0     2
2019-06-04 04:33:30  1.26621  1.26626   0.0  0.0     2
2019-06-04 04:33:30  1.26623  1.26629   0.0  0.0     2
2019-06-04 04:33:30  1.26620  1.26626   0.0  0.0     2
2019-06-04 04:33:30  1.26622  1.26629   0.0  0.0     4
2019-06-04 04:33:31  1.26622  1.26629   0.0  0.0     2
2019-06-04 04:33:48  1.26622  1.26627   0.0  0.0     4
2019-06-04 04:33:51  1.26623  1.26627   0.0  0.0     2
2019-06-04 04:33:51  1.26623  1.26628   0.0  0.0     4
2019-06-04 04:33:51  1.26623  1.26629   0.0  0.0     4
2019-06-04 04:33:58  1.26622  1.26628   0.0  0.0     4
2019-06-04 04:34:18  1.26621  1.26629   0.0  0.0     2
2019-06-04 04:34:34  1.26624  1.26629   0.0  0.0     2
2019-06-04 04:34:34  1.26622  1.26630   0.0  0.0     4
2019-06-04 04:34:35  1.26621  1.26630   0.0  0.0     2
2019-06-04 04:34:42  1.26620  1.26629   0.0  0.0     2
2019-06-04 04:34:57  1.26619  1.26626   0.0  0.0     2
2019-06-04 04:34:58  1.26619  1.26627   0.0  0.0     4
2019-06-04 04:35:00  1.26619  1.26626   0.0  0.0     4
...                      ...      ...   ...  ...   ...
2019-06-04 04:37:13  1.26621  1.26629   0.0  0.0     2
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:17  1.26621  1.26630   0.0  0.0     4
2019-06-04 04:37:18  1.26611  1.26619   0.0  0.0     2
2019-06-04 04:37:18  1.26612  1.26620   0.0  0.0     4
2019-06-04 04:37:18  1.26612  1.26619   0.0  0.0     2
2019-06-04 04:37:18  1.26613  1.26621   0.0  0.0     2
2019-06-04 04:37:18  1.26620  1.26623   0.0  0.0     2
2019-06-04 04:37:18  1.26612  1.26619   0.0  0.0     2
2019-06-04 04:37:18  1.26621  1.26627   0.0  0.0     4
2019-06-04 04:37:18  1.26615  1.26620   0.0  0.0     2
2019-06-04 04:37:18  1.26617  1.26620   0.0  0.0     4
2019-06-04 04:37:18  1.26621  1.26626   0.0  0.0     4
2019-06-04 04:37:18  1.26619  1.26623   0.0  0.0     2
2019-06-04 04:37:18  1.26614  1.26621   0.0  0.0     2
2019-06-04 04:37:18  1.26621  1.26628   0.0  0.0     4
2019-06-04 04:37:18  1.26612  1.26619   0.0  0.0     4

[260 rows x 5 columns]

In [ ]:
tickdataframe = pd.DataFrame(connector._Market_Data_DB['GBPUSD'])

In [ ]:
tickdataframe = tickdataframe[['Time','Bid','Ask','Flag']]
tickdataframe

In [ ]:
from pandas import HDFStore
hdf = HDFStore('testTickData.h5')

In [ ]:
hdf.put('testdata',tickdataframe,format='table',data_columns=True)

In [ ]:
hdf['testdata']

# Loading data from HD5 File

In [ ]:
readDataFrame = pd.read_hdf('testTickData.h5')
readDataFrame.set_index('Time').loc[:,'Bid':'Ask']
#truncatedDataFrame = readDataFrame
#truncatedDataFrame['Time'] = truncatedDataFrame['Time'].dt.floor('S')
#truncatedDataFrame

# Calculate OHLC Data

In [ ]:
OHLCData = readDataFrame.resample('1min').agg({'Bid':'ohlc','Ask':'ohlc','Flag':'max'})
OHLCData

In [ ]:
OHLCData.loc[:,'Bid'].plot()